#slogan {font-style: italic;}

header {
    background-color: #FFED74;
    border: 1px black solid;
    padding: 20px;
}
nav {
	background-color: #E8C66A;
}
#one {
	background-color: #E89C6C;
}

aside {
	background-color:#FFC675;
}

footer {
	background-color: #FF957E;
}

#wrapper {
	background-color: #FFE2B8;
}